.App {
  text-align: center;
  margin-top: 50px;
}

input[type="text"] {
  width: 60%;
  padding: 10px;
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

label {
  margin-right: 20px;
  cursor: pointer;
}

h2 {
  margin-top: 20px;
}
